/* Reset */
body { margin: 0; padding: 0; }
body, input, button {
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
}
h1, h2, h3, h4, h5 { font-weight: normal; }


/* Styles */
#container {
	width: 100%;
	min-width: 900px;
}
#sidebar {
	background-color: #a3a3a3;
	padding: 30px 20px;
	float: left;
	width: 280px;
	height: 100%;
}
#content {
	margin-left: 320px;
	height: 100%;
	padding: 30px;
	background-color: #FFA07A;
}

.instructions {
	font-size: 18px;
}
input[name=city_name], button.submit {
	font-size: 24px;
}

input[name=city_name] {
	width: 200px;
}
